---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.cats.size > 0 -%}
    <ul class="post-list">
      {%- for category in site.cats -%}
      <li>
        <h3>
          <a class="post-link" href="{{ category.url | relative_url }}">
            {{ category.title }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ category.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
